<div class="authorise_accounts">
  <h2>Authorize your accounts</h2>
  <div class="twitterscene">
    <div class="cube">
      <span class="side top"><a href="/auth/twitter">Authorize</a></span>
      <span class="side front">Twitter</span>
    </div>
  </div>
  <div class="instascene">
    <div class="cube">
      <span class="side top"><a href="/auth/instagram">Authorize</a></span>
      <span class="side front">Instagram</span>
    </div>
  </div>
  <div class="finishbutton">
    <span class="finish_text"><%= link_to 'Finish', home_path %></span>
  </div>
</div>