<div class="accountcontainer">
  <div class="authorise_accounts">
    <h2>Authorize your accounts</h2>
    <br/>
    <br/>
    <div class="twitterscene">
      <p>Step<span class="number">1</span></p>
      <div class="cube">
        <a href="/auth/twitter"><span class="side top">Authorize</span>
        <span class="side front">Twitter</span></a>
      </div>
    </div>
    <div class="instascene">
      <p>Step<span class="number">2</span></p>
      <div class="cube">
        <a href="/auth/instagram"><span class="side top">Authorize</span>
        <span class="side front">Instagram</span></a>
      </div>
    </div>
    <div class="box">
      <div class="clock"></div>
    </div>
    <div class="finishbutton">
      <a href="/home"><span class="finish_text">Finish</span></a>
    </div>
  </div>
</div>
<script>
$('.box').hide();
$('.cube').on('click','a' , function(){
  $('.box').show();
})
</script>