<section class="container">
  <nav>
    <a href="/auth/twitter" class="twitter">Twitter</a>
    <a href="#" class="twitterfeed">TweetFeed</a>
    <a href="#" class="gramsfeed">InstagramFeed</a>
    <a href="/auth/instagram" class="instagram">Instagram</a>
    <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
  </nav>

  <article class="twitter-box">
    <h2>tweetfeed</h2>

  </article>

  <article class="instagram-box">
    <h2>gramfeed</h2>

    
  </article>

</section>

<script type="text/template" id="gram-template">
<div class="box">
<a href="<%%= link %>"><img src="<%%= image %>"></a>
<img src="<%%= userprofilepic %>">
<p><%%= username %></p>
<p><%%= likecount %></p>
<p><%%= caption %></p>
<p><%%= tags %></p>
</div>
</script>

<script type="text/template" id="tweet-template">
<div class="single-tweet">
<img src="<%%= uprofileimage %>">
<a href="<%%= uurl %>"><%%= uname %></a>
<a href="http://twitter.com/<%%= sname %>">@<%%= sname%></a>
<p><%%= tweet %></p>
<a href="<%%= tweetlink %>"><%%= tweetlink %></a>
</div>
</script>


<script>
$('.twitterfeed').on('click', function(e){
  e.preventDefault();
  $.ajax({
    url:'/api/tweets',
    dataType: 'json',
    type: 'get'
  }).done(function(data2){
    var tweetList = data2;
    var tweetTemplate = $('#tweet-template').html();
    var $twitterBox = $('.twitter-box');
    $(tweetList).each(function(){
      var html = _.template(tweetTemplate, {tweet: this.text, tweetlink: this.entities.urls.length > 0 ? this.entities.urls[0].url : '', uname: this.user.name, uurl: this.user.url, uprofileimage: this.user.profile_image_url, sname: this.user.screen_name});
      $twitterBox.append(html);
    })
  })
})


$('.gramsfeed').on('click', function(e){
  e.preventDefault();
  $.ajax({
    url:'/api/grams',
    dataType: 'json',
    type: 'get'
  }).done(function(data2){
    var dataList = data2;
    var dataArray = dataList.data

    var gramTemplate = $('#gram-template').html();
    var $instagramBox = $('.instagram-box');
    $(dataArray).each (function(){
      var html = _.template(gramTemplate, {image: this.images.low_resolution.url, link: this.link, likecount: this.likes.count.length > 0 ? this.likes.count : '', username: this.user.username, caption: this.caption.text, tags: this.tags.length > 0 ? this.tags : '', userprofilepic: this.user.profile_picture});
      $instagramBox.append(html);
    });

  })
})
</script>

