<section class="container">
  <nav>
    <a href="/auth/twitter" class="twitter">Twitter</a>
    <a href="#" class="twitterfeed">TweetFeed</a>
    <a href="#" class="gramsfeed">InstagramFeed</a>
    <a href="/auth/instagram" class="instagram">Instagram</a>
    <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
  </nav>

  <article class="twitter-box">
    <h2>tweetfeed</h2>

  </article>

  <article class="instagram-box">
    <h2>gramfeed</h2>

    
  </article>

</section>

<script type="text/template" id="gram-template">
<div class="box">
<img src="<%%= image %>">
</div>
</script>

<script type="text/template" id="tweet-template">
<div class="single-tweet">
<img src="<%%= uprofileimage %>">
<a href="<%%= uurl %>"><%%= uname %></a>
<p><%%= tweet %></p>
<a href="<%%= tweetlink %>"><%%= tweetlink %></a>


<p>
</div>
</script>


<script>
$('.twitterfeed').on('click', function(e){
  e.preventDefault();
  $.ajax({
    url:'/api/tweets',
    dataType: 'json',
    type: 'get'
  }).done(function(data2){
    var tweetList = data2;
    // var time = tweetList[0].created_at;
    // var tweet = tweetList[0].text;
    // var uname = tweetList[0].user.name
    // var sname = tweetList[0].user.screen_name
    // var uurl = tweetList[0].user.url
    // var uprofileimage = tweetList[0].user.profile_image_url

    // var srclink = tweetList[0].user.entities.url.urls[0].expanded_url


    var tweetTemplate = $('#tweet-template').html();
    var $twitterBox = $('.twitter-box');
    $(tweetList).each(function(){
      var html = _.template(tweetTemplate, {tweet: this.text, tweetlink: this.entities.urls.length > 0 ? this.entities.urls[0].url : '', uname: this.user.name, uurl: this.user.url, uprofileimage: this.user.profile_image_url});
      $twitterBox.append(html);
    })

    console.log(uname)
    console.log(sname)
    console.log(uurl)
    console.log(uprofileimage)
    console.log(srclink)

  })
})


$('.gramsfeed').on('click', function(e){
  e.preventDefault();
  $.ajax({
    url:'/api/grams',
    dataType: 'json',
    type: 'get'
  }).done(function(data2){
    var dataList = data2;
    var dataArray = dataList.data
    var gramTemplate = $('#gram-template').html();
    var $instagramBox = $('.instagram-box');
    $(dataArray).each (function(){
      var html = _.template(gramTemplate, {image: this.images.thumbnail.url});
      $instagramBox.append(html);
    });

  })
})
</script>

