<section class="container">
  <nav>
    <a href="#" class="twitter">Twitter</a>
    <a href="#" class="pins">Pins</a>
    <a href="#" class="instagram">Instagram</a>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  </nav>

  <article class="twitter-box">
    
  </article>

  <article class="instagram">
    
  </article>

  <article class="pinterest">
    
  </article>

</section>


<script>
$('.twitter-box').hide();
$('.twitter').on('click', function(){
  $('.twitter-box').show();
  $.ajax({
    url:'/api/tweets',
    dataType: 'json',
    type: 'get'
  }).done(function(data){
    console.log(data);
  })
})


$('.pins').on('click', function(){
  $.ajax({
    url:'/api/pins',
    dataType: 'json',
    type: 'get'
  }).done(function(data){
    console.log(data);
  })
})
</script>

